$primary: #00395b;
$secondary: #005f8e;
$text: #1c1c1c;
$text-color: #fff;
$text-passive: #515151;
$svg-color: #00395b;
$background: #dce6ec;
$menu-color: #00395b;
$background-overlay: rgba(28, 28, 28, 0.45);
$photo-overlay: rgba(0, 0, 0, 0.3);
$stroke: #a7a2a2;
$discount-price: #bebebe;
$multiple-price: #00395b;
$sale: #d20000;
$navbar-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
$footer-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.15);
$general-white: #fff;
$blur: hsla(0, 0%, 44%, 0.24);
